<div class="tab-pane" id="tab4_3">
  <h1>Schedule reports</h1>
  <form>
    <label>
      Time (0-23):
      <input [(ngModel)]="DayTime" type="number" step="1" min="0" max="23" name="DayTime">
    </label>
    <label>
      Day of week:
      <select [(ngModel)]="DayOfWeek" name="DayOfWeek">
        <option value="0">Monday</option>
        <option value="1">Tuesday</option>
        <option value="2">Wednesday</option>
        <option value="3">Thursday</option>
        <option value="4">Friday</option>
        <option value="5">Saturday</option>
        <option value="6">Sunday</option>
      </select>
    </label>
    <a class="btn btn-default" (click)="UpdateTime()">Schedule</a>
    <a class="btn btn-default" (click)="UpdateUsers()">Update users now</a>
  </form>
  <br><br>


    <div class="col-md-12">
      <div class="col-md-4">

        <label for="managers">
          Managers
        </label>

        <select id="managers" class="selectize-header" [(ngModel)]="selectedManager">
          <option *ngFor="let manager of managers" [ngValue]="manager"> {{ manager.firstname }} {{ manager.lastname }}</option>
        </select>

      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Selected Users</div>

            <select *ngIf="selectedManager" data-placeholder="Choose a Country" class="chosen-select" multiple [(ngModel)]="unSelectedUsers">
              <option *ngFor="let user of selectedManager.users" [ngValue]="user"> {{ user.firstname }} {{ user.lastname }}</option>
            </select>

        </div>
      </div>
      <div class="col-md-2">
        <div class="panel-body">
          <br><br>
          <a class="btn btn-arrow show-on-hover" (click)="unSelectUsers()" [class.disabled]="!(unSelectedUsers && unSelectedUsers.length > 0)">
            ⇨
          </a>
          <br><br>
          <a class="btn btn-arrow show-on-hover" (click)="selectAvailableUsers()" [class.disabled]="!(selectedUsers && selectedUsers.length > 0)">
            ⇦
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Available Users</div>
            <select data-placeholder="Choose a Country" class="chosen-select" multiple [(ngModel)]="selectedUsers">
              <option *ngFor="let user of availableUsers" [ngValue]="user">{{ user.firstname }} {{ user.lastname }}</option>
            </select>
        </div>
      </div>
    </div>

    <a class="btn btn-default btn-ripple" (click)="Submit()">Save</a>
    <br><br>

</div>
