<div class="tab-pane" id="tab4_3">

  <h2>Schedule reports</h2>
  <div class="col-md-12">
    <div class="col-md-12">
      <label class="col-xs-5">
        <span class="content_label col-xs-4">Time (0-23):</span>
        <input [(ngModel)]="DayTime" (keyup)="dayTimeChange($event)" type="number" step="1" min="0" max="23" name="DayTime" class="col-xs-6">
      </label>
    </div>
    <div class="col-md-12">
    <label class="col-xs-5">
      <span class="content_label col-xs-4">Day of week:</span>
        <select [(ngModel)]="DayOfWeek" name="DayOfWeek">
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
          <option value="0">Sunday</option>
        </select>
      </label>
    </div>

    <!--<div class="col-md-4">-->

    <!--</div>-->
    <!--<a class="btn btn-default" (click)="UpdateUsers()">Update users now</a>-->
    <a class="btn btn-default" (click)="UpdateTime()">Schedule</a>
  </div>

  <br><br>
  <h2>Users setup</h2>

    <div class="col-md-12">
      <div class="col-md-4">

        <label for="managers">
          Team Leads
        </label>

        <select id="managers" class="selectize-header" [(ngModel)]="selectedManager">
          <option *ngFor="let manager of managers" [ngValue]="manager"> {{ manager.firstname }} {{ manager.lastname }}</option>
        </select>

      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Team Members</div>

            <select *ngIf="selectedManager" data-placeholder="Choose a Country" class="chosen-select" multiple [(ngModel)]="unSelectedUsers">
              <option *ngFor="let user of selectedManager.users" [ngValue]="user"> {{ user.firstname }} {{ user.lastname }}</option>
            </select>

        </div>
      </div>
      <div class="col-md-2">
        <div class="panel-body">
          <br><br>
          <a class="btn btn-arrow show-on-hover" (click)="unSelectUsers()" [class.disabled]="!(unSelectedUsers && unSelectedUsers.length > 0)">
            ⇨
          </a>
          <br><br>
          <a class="btn btn-arrow show-on-hover" (click)="selectAvailableUsers()" [class.disabled]="!(selectedUsers && selectedUsers.length > 0)">
            ⇦
          </a>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel-body">
          <div class="col-md-9">Available Users</div>
            <select data-placeholder="Choose a Country" class="chosen-select" multiple [(ngModel)]="selectedUsers">
              <option *ngFor="let user of availableUsers" [ngValue]="user">{{ user.firstname }} {{ user.lastname }}</option>
            </select>
        </div>
      </div>
    </div>

    <!--<a class="btn btn-default btn-ripple" (click)="Submit()">Save</a>-->
    <br><br>

</div>
